<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-house-chimney me-2"></i>Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav align-items-end">
                <a class="nav-link" href="#">Workers</a>
                <a class="nav-link" href="#">Supplies</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Reports</a>
                <hr>
                <a class="nav-link" href="{% url "home" %}">Log out</a>
            </div>
        </div>
    </div>
</nav>